.Card-Container{
    padding: 5%;
    width: 90vw;
    height: 80vw;
    margin: 10% 0%;
    background-color: black;
}
.Card-Body{
    padding: 10%;
    margin: 5% 15%;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: aqua;
}
.Card-Body>div>button{
    border: 10px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 15px;
}
.Card-Body>div>button:hover{
    background-color: black;
    color: aqua;
}